# Build directories and artifacts
build/
.build/
cmake-build-*/
cxx_modules_test

# Sourcetrail index data
*.srctrl.db
*.srctrl.db_nodes
*.srctrl.db-shm
*.srctrl.db-wal
*.srctrl.db_tmp-shm
*.srctrl.db_tmp-wal
